<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Ranking</title>
  </head>
  <body>
    <p>Hello World</p>
    <ul>
      
        <li>Name: siman1, udemae: B-32, nuri_point: 1258, play_count: 82</li>
      
        <li>Name: ultra_greedy_man, udemae: B-48, nuri_point: 1085, play_count: 86</li>
      
        <li>Name: siman2, udemae: C+94, nuri_point: 1337, play_count: 86</li>
      
        <li>Name: super_greedy_man, udemae: B-51, nuri_point: 1275, play_count: 87</li>
      
        <li>Name: greedy_man, udemae: C+97, nuri_point: 1462, play_count: 85</li>
      
        <li>Name: siman3, udemae: C+92, nuri_point: 1183, play_count: 89</li>
      
        <li>Name: random_man, udemae: B-30, nuri_point: 1315, play_count: 85</li>
      
    </ul>
  </body>
</html>
