<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Ranking</title>
  </head>
  <body>
    <p>Hello World</p>
    <ul>
      
        <li>Name: random_man, udemae: A+76, nuri_point: 17546, play_count: 1969</li>
      
        <li>Name: greedy_man, udemae: S-26, nuri_point: 27386, play_count: 1969</li>
      
        <li>Name: super_greedy_man, udemae: A+44, nuri_point: 19840, play_count: 1969</li>
      
        <li>Name: ultra_greedy_man, udemae: S-85, nuri_point: 37095, play_count: 1969</li>
      
        <li>Name: siman1, udemae: A+44, nuri_point: 17529, play_count: 1969</li>
      
        <li>Name: ultimate_greedy_man, udemae: S-70, nuri_point: 36592, play_count: 1969</li>
      
    </ul>
  </body>
</html>
