<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Ranking</title>
  </head>
  <body>
    <p>Hello World</p>
    <ul>
      
        <li>Name: super_greedy_man, udemae: A+78, nuri_point: 9993, play_count: 1013</li>
      
        <li>Name: siman2, udemae: S-30, nuri_point: 9657, play_count: 1027</li>
      
        <li>Name: random_man, udemae: A+68, nuri_point: 9603, play_count: 1027</li>
      
        <li>Name: siman3, udemae: S-19, nuri_point: 9495, play_count: 1010</li>
      
        <li>Name: siman1, udemae: S-33, nuri_point: 9503, play_count: 994</li>
      
        <li>Name: greedy_man, udemae: S-31, nuri_point: 15209, play_count: 1024</li>
      
        <li>Name: ultra_greedy_man, udemae: S-55, nuri_point: 20433, play_count: 1015</li>
      
    </ul>
  </body>
</html>
